body {
  background-color: #fcfcfc;
  margin: 0;
}

#container {
    margin: auto;
    max-width: 800px;
    vertical-align: middle;
    font-family: Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.topnav {
  text-align: center;
}
