<header class="site-header">
  <div class="wrapper">
    <span class="site-title">dandelarosa.net</span>
    <nav class="site-nav">
      <span><a mat-button href="/">Home</a></span>
      <span><a mat-button href="https://blog.dandelarosa.net/">Blog</a></span>
    </nav>
  </div>
</header>

<main class="page-content">
  <div class="wrapper">
    <h1>About</h1>
    <p>Hello! I am a software engineer with over ten years of experience.</p>
    <p>I started my career as a mobile developer, most notably on the design tech startup Makr. Makr was an app for creating logos, business cards, wedding invitations, and other products. The company was named Best of 2014 by Apple, nominated for a Webby Award, and acquired by Staples. My work at Makr involved iOS graphics APIs, AngularJS and Angular 2.0+, Shopify, and various backend solutions.</p>
    <p>Other mobile applications I contributed to included Martha Stewart CraftStudio and The Oregon Trail: American Settler.</p>
    <p>Currently, I work for the advertising giant Publicis Groupe, developing products such as Epsilon PeopleCloud Prospect and Epsilon PeopleCloud Discovery. I deal with backends written in Ruby on Rails and in Node, Angular frontends, and integrations with <a href="https://blog.dandelarosa.net/2021/05/16/course-recap-developing-on-aws.html">multiple AWS services</a>.</p>
    <p>I am open to discussing next steps. Feel free to contact me on the channels listed below.</p>
    <h1>Links</h1>
    <p><a href="https://blog.dandelarosa.net/">My Blog</a></p>
    <p><a href="https://www.linkedin.com/in/dandelarosa/">LinkedIn</a></p>
    <p><a href="https://github.com/dandelarosa">GitHub</a></p>
  </div>
</main>

<footer class="footer">
  <div class="wrapper">
    <span>&copy; 2022 Dan Lester Dela Rosa</span>
  </div>
</footer>
