<header class="site-header">
  <div class="wrapper">
    <span class="site-title">dandelarosa.net</span>
    <nav class="site-nav">
      <span><a mat-button href="/">Home</a></span>
      <span><a mat-button href="https://blog.dandelarosa.net/">Blog</a></span>
    </nav>
  </div>
</header>

<main class="page-content">
  <div class="wrapper">
    <h1>About</h1>
    <p>Hello! I am a software engineer with over ten years of experience.</p>
    <p>I currently work for the advertising company Publicis Groupe, contributing to the Epsilon PeopleCloud series of products. I write applications using Node and Angular, and I have extensive experience with <a href="https://blog.dandelarosa.net/2021/05/16/course-recap-developing-on-aws.html">AWS services</a> including EC2, Lambda, S3, and CloudFront.</p>
    <p>Previously, I was a founding engineer at a startup called Makr, best known for the iOS app of the same name. Makr was named Best of 2014 by Apple, nominated for a Webby Award, and purchased in an acquisition by Staples. Before that, I had a hand in developing other mobile applications including Martha Stewart CraftStudio and The Oregon Trail: American Settler.</p>
    <p>I am open to discussing next steps. Feel free to contact me on the channels listed below.</p>
    <h1>Links</h1>
    <p><a href="https://blog.dandelarosa.net/">My Blog</a></p>
    <p><a href="https://www.linkedin.com/in/dandelarosa/">LinkedIn</a></p>
    <p><a href="https://github.com/dandelarosa">GitHub</a></p>
  </div>
</main>

<footer class="footer">
  <div class="wrapper">
    <span>&copy; 2023 Dan Lester Dela Rosa</span>
  </div>
</footer>
